<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vacancy.name %>
</p>

<p>
  <strong>Addition date:</strong>
  <%= @vacancy.addition_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @vacancy.duration %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @vacancy.salary %>
</p>

<p>
  <strong>Skills:</strong>
  <% @vacancy.vacancy_skills.each do |skill| %>
      <br><%= skill.name %>
  <% end %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @vacancy.contact %>
</p>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
