<h1>Текущий работник :</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>In search</th>
    <th>Salary</th>
    <th>Skills</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @worker.name %></td>
        <td><%= @worker.contact %></td>
        <td><%= @worker.in_search %></td>
        <td><%= @worker.salary %></td>
        <td><%= @worker.worker_skills.map {|skill| skill.name} %></td>
      </tr>
  </tbody>
</table>

<br>

<h1>Подходящие вакансии :</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Salary</th>
    <th>Contact</th>
    <th>Skills</th>
  </tr>
  </thead>

  <tbody>
  <% @vacancies.each do |vacancy| %>
      <tr>
        <td><%= vacancy.name %></td>
        <td><%= vacancy.duration %></td>
        <td><%= vacancy.salary %></td>
        <td><%= vacancy.contact %></td>
        <td><%= vacancy.vacancy_skills.map {|skill| skill.name} %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<br>

<h1>Частично подходящие вакансии :</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Salary</th>
    <th>Contact</th>
    <th>Skills</th>
  </tr>
  </thead>

  <tbody>
  <% @partially_vacancies.each do |vacancy| %>
      <tr>
        <td><%= vacancy.name %></td>
        <td><%= vacancy.duration %></td>
        <td><%= vacancy.salary %></td>
        <td><%= vacancy.contact %></td>
        <td><%= vacancy.vacancy_skills.map {|skill| skill.name} %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<br>
