<!DOCTYPE html>
<html>
  <head>
    <title>RecruitmentAgency</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= link_to 'Главная', root_path %>
    &mdash;
    <%= link_to 'Вакансии', vacancies_url %>
    &mdash;
    <%= link_to 'Работники', workers_url %>
    &mdash;
    <%= link_to 'Список скиллов', skills_url %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
